@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-black;
  @apply leading-tight;
  @apply font-outfit;
}

img {
  user-select: none !important;
}

section {
  @apply bg-white;
}

@layer base {
  /* Thin */
  @font-face {
    font-family: "Outfit";
    src: url("../../public/assets/fonts/Outfit-Thin.woff") format("woff2"),
      url("../../public/assets/fonts/Outfit-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
  }

  /* Light */
  @font-face {
    font-family: "Outfit";
    src: url("../../public/assets/fonts/Outfit-Light.woff2") format("woff2"),
      url("../../public/assets/fonts/Outfit-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
  }

  /* Regular */
  @font-face {
    font-family: "Outfit";
    src: url("../../public/assets/fonts/Outfit-Regular.woff2") format("woff2"),
      url("../../public/assets/fonts/Outfit-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }

  /* Medium */
  @font-face {
    font-family: "Outfit";
    src: url("../../public/assets/fonts/Outfit-Medium.woff2") format("woff2"),
      url("../../public/assets/fonts/Outfit-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
  }

  /* Bold */
  @font-face {
    font-family: "Outfit";
    src: url("../../public/assets/fonts/Outfit-Black.woff2") format("woff2"),
      url("../../public/assets/fonts/Outfit-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
  }

  /* Extra Bold */
  @font-face {
    font-family: "Outfit";
    src: url("../../public/assets/fonts/Outfit-ExtraBold.woff2") format("woff2"),
      url("../../public/assets/fonts/Outfit-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
  }

  /* Black */
  @font-face {
    font-family: "Outfit";
    src: url("../../public/assets/fonts/Outfit-Black.woff2") format("woff2"),
      url("../../public/assets/fonts/Outfit-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
  }
}

.swiper-button-next,
.swiper-button-prev {
  @apply text-white;
  @apply shadow-sm;
  padding: 10px; /* Adjust padding for the arrows */
  border-radius: 50%; /* Optional: make arrows round */
}

.swiper-pagination-bullet {
  @apply bg-white; /* Default dot color */
  opacity: 0.8; /* Make dots fully visible */
}

.swiper-pagination-bullet-active {
  background: #ff6347; /* Active dot color */
}
